.list .media {
  border-bottom: 1px solid #F1F1F1;
  height: 1.65rem;
}
.list .media .media-left img {
  height: 0.64rem;
  width: 0.64rem;
  border-radius: 50%;
}
.list .media .media-body h4 {
  font-size: 0.28rem;
  font-weight: 700;
  color: #1f1f25;
}
